# Byte-compiled / optimized files
__pycache__/
*.pyc

# Environment, data, and log files
*.env
*.pkl
*.log
*.json

# Skip created graphs
code/graphs/*

# Override to keep directories
!.gitkeep

# Custom overrides
!html/data/*.json
