.bg-blue {
    background-color: #3498db!important;
}

.bg-dark-blue {
    background-color: #2980b9;
}

.left-border-thick {
    border-left: 0.25em solid #fff;
}

#score-table td, #score-table th {
    padding: 1.5em 0;
    cursor: pointer;
}

#score-container:first-child {
    box-shadow: inset 0px 0px 5px #0f0;
}

#score-table {
    box-shadow: 0px 0px 10px #f5f5f5;
}

#score-table thead tr {
    border-bottom: 1px solid #f5f5f5;
}

#splash {
    border-bottom: 1em solid #2980b9;
}

.bg-footer {
    background-color: #ecf0f1;
    border-top: 1em solid #bdc3c7;
}

#score-container tr:nth-child(1) td {
    background-color: #FFFACD;
}

#score-container tr:nth-child(2) td {
    background-color: #E0E0E0;
}

#score-container tr:nth-child(3) td {
    background-color: #D2B48C;
}

#wordle-container row {
    height: 4em;
}

.wordle-miss, .wordle-empty {
    height: 4em;
    background: #2c3e50;
    box-shadow: inset 0px 0px 2px #34495e;
}

.wordle-present {
    height: 4em;
    background: #f1c40f;
    box-shadow: inset 0px 0px 2px #f39c12;
}

.wordle-position {
    height: 4em;
    background: #2ecc71;
    box-shadow: inset 0px 0px 2px #27ae60;
}

/* .wordle-miss, .wordle-empty, .wordle-present, .wordle-position {
    box-shadow: inset 0px 0px 1px #fff;
} */

#user-splash {
    background-color: #ecf0f1;
    border-bottom: 1em solid #bdc3c7;
    margin-bottom: 1em;
}

.wordle-instance {
    margin-bottom: 1em;
}
